/*imports*/
@import '../scss/helpers/__reset.scss'; 
@import '../scss/helpers/__pxtoem.scss'; 
@import '../scss/helpers/__mixins.scss'; 
@import '../scss/helpers/__typography.scss'; 
@import '../scss/helpers/__fonts.scss'; 
/**/

body{
  
    display: flex;
    justify-content: center;
    background: red; 
    display: grid;
    border-radius: 5px; 
}
h2 {
    font-size: em(100);
    font-family: 'Lato';
}